@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400&display=swap");
#home{
    background-image: url('../views/imgs/bg.jpg');
    background-repeat: no-repeat;
    height: 80vh;
    font-family: 'Bitter', serif;
    color: black;
    padding: 11em 0 1em 0;
    background-size: cover;

    
}        

.home-div{
    background-image: url('../views/imgs/home-page.jpg');
    width: 50%;
    height: auto;
    padding: 2em 2em;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    -webkit-box-shadow: 3px 10px 20px -1px rgba(217,134,70,1);
    -moz-box-shadow: 3px 10px 20px -1px rgba(217,134,70,1);
    box-shadow: 3px 10px 20px -1px rgba(217,134,70,1);
    
}
.home-div h1{
    font-size: 2em;
    font-weight: 700;
    
}

.home-div p{
    text-align: justify;
    
}

.btn {
    background-color: #fff; 
    border: 2px solid black;
    color: rgb(0, 0, 0);
    padding: 0.5em 3em;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    border-radius: 5em;
    margin: 1em 0 0 0;
    cursor: pointer;
  }

.btn:hover{
       background-image: linear-gradient(to right,#fdc830, #f37335); 
        transition: color 0.5s ease-out;
    
    }
